# fly.toml - Phoenix app configuration
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'fantasy'
primary_region = 'waw'

[build]

[env]
  PHX_HOST = "fantasy.razumau.net"
  DATABASE_PATH = "/data/sqlite.db"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1gb'

[mounts]
  source = "litefs"
  destination = "/data"
