<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="fantasy" suffix=" — fantasy">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/images/favicon.svg"} />
    <link rel="icon" type="image/x-icon" sizes="48x48 32x32 16x16" href={~p"/favicon.ico"} />
    <link rel="apple-touch-icon" href={~p"/images/apple-touch-icon.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
